@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    overflow-x: hidden;
  }
.swiper-button-next,
.swiper-button-prev {
  color: white;
  top: 47.777%; 
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: 30px; 
}

.swiper-button-next {
  right: 30px; 
}
@keyframes moveSmog {
  0% { transform: translateX(0%) translateY(100%); opacity: 0.3; }
  50% { transform: translateX(50%) translateY(0%); opacity: 0.5; }
  100% { transform: translateX(100%) translateY(100%); opacity: 0.3; }
}

.animate-moveSmog {
  animation: moveSmog 15s linear infinite;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Allow vertical scrolling, block horizontal */
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* Remove overscroll-behavior: none; */
  overflow-x: hidden;
  /* Help the trackpad realize this is the scrollable area */
  touch-action: pan-y; 
  -webkit-overflow-scrolling: touch;
}
